<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Geckon.Octopus.Data.Properties.Settings.OctopusConnectionString" connectionString="Data Source=mssql.server00.geckon.com;Initial Catalog=Octopus;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
