<?xml version="1.0"?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Geckon.Octopus.Data.Properties.Settings.OctopusConnectionString"
      connectionString="Data Source=(local);Initial Catalog=Octopus;Integrated Security=True" />
    <add name="Geckon.Octopus.Data.Properties.Settings.PortalConnectionString"
      connectionString="Data Source=RUNE-PC\SQLSERVER2008;Initial Catalog=Portal;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--<connectionStrings>
    <add name="Geckon.Octopus.Data.Properties.Settings.OctopusConnectionString" connectionString="Data Source=mssql.server01.geckon.com;Initial Catalog=Octopus;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"/>
  </connectionStrings>-->
  
  
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
