<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OctopusConnectionString" connectionString="Data Source=mssql.server01.geckon.com;Initial Catalog=Octopus;Persist Security Info=True;User ID=sa;Password=GECKONpbvu7000"/>
  </connectionStrings>
</configuration>