<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <appSettings>
    <add key="SETTINGS_ID" value="1"/>
  </appSettings>

  <connectionStrings>
    <add name="Octopus" connectionString="Data source=RUNE-PC\SQLSERVER2008; Initial Catalog=Octopus;Integrated Security=True"/>
  </connectionStrings>

  <system.serviceModel>
    
    <services>
      <service name="Geckon.Octopus.Agent.Service.AgentService" behaviorConfiguration="AgentServiceBehavior">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6000/Octopus/Agent"/>
          </baseAddresses>
        </host>

        <endpoint address="" binding="wsHttpBinding" contract="Geckon.Octopus.Agent.Service.IAgentService"/>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="AgentServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
        
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
